@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Fresca&family=Handlee&family=Kalam&family=Noto+Sans+HK:wght@300;400&family=Viga&display=swap');


.App {
  text-align: center;
  background: #cbeaeddc;
  font-family: 'Noto Sans HK', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* --- NAVBAR --- */

button.mr-2.navbar-toggler {
  padding: 0px 3px;
}

.favorites-nav-link, .favorites-nav-link-allpets {
  padding-right: 15px;
  margin: 0;
}

.favorites-nav-link, .favorites-nav-link-allpets, .nav-item a {
  color: white;
  font-size: 12px;
  background:  #017c85;
}

.favorites-nav-link:hover, .favorites-nav-link-allpets:hover, .nav-item a:hover {
  text-decoration: underline;
}

li.nav-link.nav-item {
  background: #017c85;
}

a.mr-auto.navbar-brand {
  color: #d3de32;
  font-family: 'Viga', sans-serif;
  font-size: 25px;
}

a.mr-auto.navbar-brand:hover {
  zoom: 105%;
  text-decoration: none;
  color: #d3de32;
}

.navbar.navbar-light.bg-faded {
  background: #017c85;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  
}

.mr-2.navbar-toggler {
  background: white;
}

.favorites-nav-link-allpets {
  display: none;
}

/* --- BANNER --- */
.banner {
  position: relative;
  margin-bottom: 15px;
}

.quote {
  position: absolute;
  display: inline;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 18px;
  margin: 90px 0px 0px 10px;
  font-weight: 600;
  padding: 6px 30px 6px 8px;
  text-align: left;
}

.pet-banner {
  max-width: 100%; 
  margin-top: -5px;
}

/* --- PET CARDS (LISTINGS AND FAVORITES)--- */
.pet-pic, .fave-pet-pic {
  height: 250px;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 10px;
}

 .pet-card-info p, .fave-pet-card-info p {
   margin: 0px;
   background: white;
 }

  .pet-card-info p:first-of-type, .fave-pet-card-info p:first-of-type {
   color: #017c85;
   font-weight: 500;
   text-shadow: 0px 0px 1px #00000056;
   font-family: 'Viga', sans-serif;
   
 }

.pet-card a, .fave-pet-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: black;
}

.pet-card a:hover{
text-decoration: none;
color: #036269;
}

.add-to-favorites-button, .remove-from-favorites-button {
  border: 2px solid #017c85;
  border-radius: 6px;
  background: #017c85;
  font-size: 12px;
  padding: 3px 10px;
  align-self: center;
  color: white;
  box-shadow: 1px 2px 3px #00000070;
  margin: 10px 0px;
}

.add-to-favorites-button:hover, .remove-from-favorites-button:hover {
  /* background: #c3e4e7; */
  color: black;
  background: #017c853a;
}

.pet-card, .fave-pet-card {
  border: 2px solid;
  border-radius: 4px;
  width: 300px;
  margin: 15px;
  padding: 10px 5px;
  box-shadow: 1px 1px 3px #00000070;
  background: white;
 }

.pet-card:hover {
  box-shadow: 2px 2px 6px #00000070;
}

.pet-cards-bodycontainer, .fave-pet-cards-bodycontainer  {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}


/* --- SINGLE PET DETAILS PAGE  --- */
.single-pet-info {
  background: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 0 auto;
  width: 85%;
  
}
.pet-intro {
  margin: 20px 10px;
  font-family: 'Viga', sans-serif;
  color: #017c85;
}

.animal-stats p {
  margin: 2px;
}

.animal-stats {
  margin: 20px 0px;
}

.id, .location {
  font-weight: 600;
  background: white;
  margin: 0px
}

.single-pet-info a{
  border: 2px solid #017c85;
  border-radius: 6px;
  background: #017c85;
  padding: 3px 10px;
  color: white;
  box-shadow: 1px 2px 3px #00000070;
}

.single-pet-info a:hover {
  color: black;
  background: #017c853a;
}

.about {
  font-weight: 600;
  margin: 20px 0px 0px 0px;
}

.desc {
  margin: 0px;
}

.single-pet-pic {
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #000000ef;
}



/* -------- MEDIA QUERY TABLET-------- */

@media (min-width: 768px) {
   
  .mr-2.navbar-toggler {
      display: none;
}

.favorites-nav-link-allpets {
  display: block;
}

.favorites-nav-link-allpets, .favorites-nav-link {
  font-size: 14px;
}

a.mr-auto.navbar-brand {
  font-size: 30px;
}

.quote {
  font-size: 24px;
  margin: 200px 0px 0px 30px;
  font-weight: 600;
  padding: 10px 120px 10px 10px;
  text-align: left;
}
}


/* -------- MEDIA QUERY DESKTOP-------- */

@media (min-width: 1024px) {
.quote {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 30px;
  margin: 285px 0px 0px 30px;
  font-weight: 600;
  padding: 10px 140px 10px 15px;
  text-align: left;
}

.favorites-nav-link-allpets, .favorites-nav-link {
  font-weight: bold;
}

}





/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
